API_ROOT = File.expand_path '../../', File.dirname(__FILE__)
API_ENV= "development"

God::Contacts::Email.defaults do |d|
  d.from_email = 'kevin@4e.co.za'
  d.from_name = 'API God Monitor'
  d.delivery_method = :smtp
  d.server_host = 'smtp.sendgrid.net'
  d.server_port = '587'
  d.server_auth = 'plain'
  d.server_domain = '4e.co.za'
  d.server_user = 'someone'
  d.server_password = 'secret'
end

God.contact(:email) do |c|
  c.name = 'admin'
  c.group = 'admins'
  c.to_email = 'admin@4e.co.za'
end

God::Contacts::Campfire.defaults do |d|
  d.subdomain = '4e'
  d.token = 'your_token'
  d.ssl = true
end

God.contact(:campfire) do |c|
  c.room = "4e Team"
  c.name = '4e_team'
end

God.load "#{API_ROOT}/config/god/*.god"
